<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
<!-- 隐藏域保存key值 -->
<input type="hidden" id="key" name="key" th:value="${key}" />
 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             管理后台登录
           </div>
         </h2>
         <form class="ui large form" method="post" th:action="@{/admin/login}">
           <input type="hidden" name="sendKey" id="sendKey" value="" />
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="encryptedPwd" id="password" placeholder="密码">
               </div>
             </div>
             <button class="ui fluid large teal submit button" id="submit">登   录</button>
           </div>

           <div class="ui error mini message"></div>
           <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>

         </form>

       </div>
     </div>
   </div>
 </div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script src="../../static/js/crypto-js.js" th:src="@{/crypto-js-3.1.9-1/crypto-js.js}"></script>

<script>
  $('.ui.form').form({
    fields : {
      username : {
        identifier: 'username',
        rules: [{
          type : 'empty',
          prompt: '请输入用户名'
        }]
      },
      password : {
        identifier: 'password',
        rules: [{
          type : 'empty',
          prompt: '请输入密码'
        }]
      }
    }
  });
  $(function(){
    $("#submit").click(function () {
      var $key = $("#key").val();
      //var username = $("input[name='username']").val();
      var $password = $("input[name='encryptedPwd']").val();
      /*if (username == "" || password == "") {
        alert("用户名、密码、验证码不能为空！");
        return false;
      }*/
      var key = CryptoJS.enc.Utf8.parse($key);
      console.log("key:" + $key + ",key:" + key);
      var password = CryptoJS.enc.Utf8.parse($password);
      var encrypted = CryptoJS.AES.encrypt(password, key, {mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7});
      var encryptedPwd = encrypted.toString();
      $("#password").val(encryptedPwd);
      $("#sendKey").val($key);

      /*console.log("encrypted:" + encrypted);
      console.log("encryptedPwd:" + encryptedPwd);
      //解密
      var decrypt = CryptoJS.AES.decrypt(encryptedPwd, key, {
        mode: CryptoJS.mode.ECB,
        padding: CryptoJS.pad.Pkcs7
      });
      var testDecryptStr = CryptoJS.enc.Utf8.stringify(decrypt).toString();

      console.log("decrypt:" + decrypt);
      console.log("testDecryptStr:" + testDecryptStr);*/


    });
  });
</script>

</body>
</html>